# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Среды выполнения
pids
*.pid
*.seed
*.pid.lock

# Каталог установки зависимостей
node_modules

# Сборки
build/

# Файлы тестирования
coverage/

# Файлы среды
.env
.env.test

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*.swm
*.swo

# Ошибки
npm-debug.log

# Операционные системы
.DS_Store
Thumbs.db

# dist
dist/